section#home
  margin-bottom: 40px
  padding-top: 80px
  text-align: center

  h1#logo
    background: url("../images/rubyconf.png")
    display: block
    height: 200px
    margin: 0px auto
    text-indent: -30000px
    width: 502px


  
  #legacy
    @include inline-block
    margin: 30px 0 0

    iframe
      border-left: 1px solid lighten($brown, 10%)
      float: right
      margin: 2px 0 0 0
      padding-left: 10px
      position: relative
      z-index: 100


    .tagline
      margin-bottom: 40px
      text-shadow: 1px 1px 0 rgba(255,255,255,0.1)
      width: 820px
      h2
        font-size: 17px
        margin: 0 0 10px 0
        strong
          font-size: 32px
          font-weight: bold
          em
            color: $yellow
        span
          display: block
          font-size: 28px
          font-weight: bold      
     
    
      a.button
        @include inline-block
        font-size: 15px        



    .scroll_container
      @include border-radius(6px)
      @include box-shadow(1px 1px 0 rgba(255,255,255,0.2))
      @include inline-block
      @include transition (all 0.5s)
      background: $brown  
      padding: 10px
      ul li
        margin-right: 10px
      img
        @include transition(all 0.5s)
        border: 2px solid transparent
        &:hover
          border-color: $yellow


  h2
    font-size: 26px
    line-height: 1.2
    margin-bottom: 50px
    small
      font-size: 20px

      #party  
        @include border-radius(6px)
        @include box-shadow(1px 1px 0 rgba(255,255,255,0.2))
        @include linear-gradient(lighten($brown,10%), $brown)
        color: $red
        font-size: 16px
        font-weight: bold
        height: 34px
        letter-spacing: 0
        line-height: 36px
        padding: 4px
        text-align: center
        b
          color: $yellow
          font-weight: normal
        span
          @include inline-block
          background: url("../images/icon_success.png") no-repeat center center
          height: 18px
          margin: 0 5px -3px 0
          width: 18px