section#schedule
  border-top: 1px solid $brown
  padding-top: 40px

  h1.title
    background-position: left -300px
    width: 212px
    &.es
      background-position: right -300px
      width: 165px

  .table_container
    @include box-shadow(1px 1px 0 rgba(255,255,255,0.2))
    @include border-radius(3px)
    background: lighten($red, 4%)    
    border: solid 1px $brown
    margin: 30px 42px 60px
    padding: 5px

    table
      background: $red 
      width: 100%
      border: solid 1px $brown

      thead
        background: rgba(89,27,20,0.8) url("../images/stripes.png")
        @include box-shadow(0 1px 3px rgba(0,0,0,0.4))
        th
          color: $red
          font-size: 18px
          font-weight: bold
          height: 35px
          padding: 10px 5px
          text-align: center
          text-shadow: -1px -1px 0 $brown
          text-transform: uppercase
          vertical-align: bottom
          border-bottom: 1px dashed $brown
          &:first-child
            text-align: left
            padding-left: 5px
            width: 120px

          h5
            color: $red
            font-size: 12px
            letter-spacing: 1px     

      
      tr        

        &.odd
          background: rgba(89,27,20,0.1)
          text-wei
        td
          border-bottom: 1px dashed lighten($brown, 25%)
          font-size: 14px
          letter-spacing: normal
          padding: 10px 5px
          text-align: center
          vertical-align: middle
          &:first-child
            text-align: left
            border-right: 1px dashed lighten($brown, 25%)

          &.title
            background: lighten($red, 4%)
            padding-top: 20px
            text-transform: uppercase      

            b
              font-size: 18px

          &:nth-child(2), &:nth-child(3)
            font-weight: bold
            color: $brown
            .speaker
              margin-top: 5px
              color: $yellow




#rfd_schedule
  border-top: 1px solid $brown
  padding-top: 40px

  h1.title
    background-position: left -300px
    width: 212px
    &.es
      background-position: right -300px
      width: 165px

  .table_container
    @include box-shadow(1px 1px 0 rgba(255,255,255,0.2))
    @include border-radius(3px)
    background: lighten($red, 4%)    
    border: solid 1px $brown
    margin: 30px 42px 60px
    padding: 5px

    table
      background: $red 
      width: 100%
      border: solid 1px $brown

      thead
        background: rgba(89,27,20,0.8) url("../images/stripes.png")
        @include box-shadow(0 1px 3px rgba(0,0,0,0.4))
        th
          color: $red
          font-size: 18px
          font-weight: bold
          height: 35px
          padding: 10px 5px
          text-align: center
          text-shadow: -1px -1px 0 $brown
          text-transform: uppercase
          vertical-align: bottom
          border-bottom: 1px dashed $brown
          &:first-child
            text-align: left
            padding-left: 5px
            width: 90px

          h5
            color: $red
            font-size: 12px
            letter-spacing: 1px     

      
      tr        

        &.odd
          background: rgba(89,27,20,0.1)
          font-weight: bold
          width: 100px
          color: $brown
        td
          border-bottom: 1px dashed lighten($brown, 25%)
          font-size: 14px
          letter-spacing: normal
          padding: 10px 5px
          text-align: center
          vertical-align: middle
          &:first-child
            text-align: left
            border-right: 1px dashed lighten($brown, 25%)

          &.title
            background: lighten($red, 4%)
            // color: $yellow
            padding-top: 20px
            text-transform: uppercase      

            b
              font-size: 18px
          &:nth-child(3), &:nth-child(5)
            border-left: 1px dashed lighten($brown, 25%)
            width: 20px

          &:nth-child(2), &:nth-child(3), &:nth-child(4)
            font-weight: bold
            width: 100px
            color: $brown
            .speaker
              margin-top: 5px
              color: $yellow
