section#sponsors
  margin: 0 0 30px 0
  text-align: center
  
  .box
    @include border-radius(4px)
    @include box-shadow(1px 1px 0 rgba(255,255,255,0.1))
    border: 1px solid $brown
    margin: 0 auto
    width: 820px
    padding: 0 0 16px 0


    h5
      width: 90px
      margin: -10px auto 10px
      font-size: 13px
      font-weight: bold
      background: $red
      padding: 3px
      text-transform: uppercase
      letter-spacing: 1px

    a
      @include inline-block
      vertical-align: middle
      margin: 0 6px
      .fadehover
        img
          @include border-radius(4px)
          border: 1px solid $red
          &.b
            border-color: $brown

    &#media_partners
      margin: 30px auto 20px
      width: 400px
      hr
        margin: 0
      h5
        width: 140px


  .box_bottom
    @include border-radius(0 0 4px 4px)
    @include box-shadow(1px 1px 0 rgba(255,255,255,0.1))
    border: 1px solid $brown
    height: 3px
    margin: -1px auto 0
    width: 814px
    &.lower
      width: 804px