section#videos
  padding-top: 40px
  border-top: 1px solid $brown
  margin: 0 5px 40px
  article
    // @include border-radius(6px)
    // @include box-shadow(1px 1px 0 rgba(255,255,255,0.2), 0 0 5px black inset)
    // @include linear-gradient(lighten($red, 5%), $red)
    // background: lighten($red, 2%) url("../images/stripes.png")
    // height: 540px
    margin: 30px 42px 60px
    // overflow-y: scroll
    text-align: center

    ul
      padding: 15px 0 5px
      a
        @include inline-block
        margin: 15px 30px
        li
          @include border-radius(6px)
          @include box-shadow(0px 0px 3px rgba(0,0,0,0.6))
          @include transition (all 2.0s ease-in-out) 
          background: $brown
          border: 2px solid transparent
          height: 217px
          margin: 0px 0px 10px 0px
          // padding: 3px 5px 0
          text-align: center
          width: 206px
          
          hgroup
            @include transition (all 2.0s ease-in-out)
            border-top: 2px solid #742723     
            color: $red
            height: 85px
            padding: 6px 10px 0
            text-align: left

            h1               
              font-size: 18px
              font-weight: bold  
              
            h2
              line-height: 1.3
              margin: 7px 0 11px
              font-size: 11px
            

          img
            @include border-radius(3px)
            border: 1px solid $red
            

          .play_icon
            @include transition (all 2.0s)
            background: url("../images/play_icon.png") no-repeat center center
            height: 39px
            margin: -72px 0 0 88px
            position: relative
            width: 38px

          .shadow
            background: url("../images/shadow.png")
            height: 8px
            margin: 45px 0 0 -3px
            position: relative
            width: 212px

        &:hover
          li
            @include box-shadow(0px 0px 6px rgba(0,0,0,0.9))
            background: darken($brown, 7%)
            border-color: $yellow
            hgroup
              color: $yellow
              border-top-color: #9D5F2C
            img
              border-color: #9D5F2C
            .play_icon
              opacity: 0

