@import "bourbon"
@import "stylesheets/reset"
@import "stylesheets/colors"

@import "stylesheets/videos"


.fadehover
  position: relative
  img
    display: block
    &.a
      left: 0
      position: absolute
      top: 0
      z-index: 10
a
  text-decoration: none  
html, body
  height: 100%

body
  background: $red
  color: $brown
  font-family: 'Maven Pro', sans-serif

  #top_border
    background: $brown
    height: 2px
    position: fixed
    top: 0
    width: 100%
    z-index: 300

  #sidebar
    border-right: 1px solid $brown
    float: left
    height: 100%
    position: fixed
    top: 2px
    width: 210px
    z-index: 300
    background: $red

    #column
      background: $brown
      color: $red
      margin: 0 auto
      padding-top: 15px
      text-align: center
      width: 164px

      h2
        font-size: 24px
        margin-bottom: 10px

      h3
        background: url("../images/2012.png")
        height: 38px
        text-indent: -30000px
        width: 119px
        margin: 0 auto 35px

      h4
        font-size: 13px
        letter-spacing: 1px

      ul
        margin: 30px 0 16px
        li
          display: inline
          margin: 10px

          &#icon_twitter a
            height: 20px
            width: 28px

          &#icon_github a
            height: 21px
            width: 27px

          &#icon_facebook a
            height: 19px
            width: 19px
            margin-bottom: 1px
          
          a
            @include inline-block

    #follow_btn
      bottom: 7px
      left: 39px
      position: absolute
      z-index: 15

  #fix
    background: $red
    height: 35px
    width: 5px
    position: fixed
    z-index: 201
    top: 2px
    right: 0
  nav
    background: $red
    border-bottom: 1px solid $brown
    font-size: 15px
    height: 34px
    margin-left: 215px
    padding: 0 44px
    position: fixed
    width: 100%
    z-index: 200
    top: 2px    

    a
      @include inline-block
      @include transition (all 2.0s ease-in-out)
      color: $brown
      font-weight: bold
      padding: 13px 6px 12px            
      text-transform: uppercase
      vertical-align: top

      span
        border-bottom: 2px solid transparent       
        padding: 5px 5px 4px

      &.active
        background: $brown
        color: $red
        span
          border-bottom: 2px solid $red
        &:hover
          span
            border-bottom-color: $yellow

      &:hover
        color: $yellow

    .separator
      @include inline-block
      background: url("../images/separator.png")
      height: 22px
      margin: 7px 10px 0
      width: 10px

  #wrapper  
    margin-left: 210px
    margin-top: 50px
    section#home
      text-align: center
      h1#logo
        background: url("../images/rubyconf.png")
        display: block
        height: 200px
        margin: 20px auto
        text-indent: -30000px
        width: 502px
      h2
        font-size: 26px
        line-height: 1.2
        margin-bottom: 50px
        small
          font-size: 20px

      #in_the_loop
        margin: 90px auto 0
        width: 436px

        p
          background: url("../images/in_the_loop.png")
          height: 59px
          margin: -60px 0 0 14px
          position: absolute
          text-indent: -30000px
          width: 444px

        #subscriber_container
          margin-top: 70px
          form
            @include border-radius(6px)
            @include box-shadow(1px 1px 0 rgba(255,255,255,0.2))
            background: $brown
            height: 36px
            letter-spacing: 2px
            padding: 4px
            
            .group
              input
                @include border-radius(4px 0 0 4px)
                background: $brown
                border: 1px solid $red
                border-width: 1px 0 1px 1px
                color: $red
                float: left
                font-size: 20px
                height: 34px
                padding: 0 10px
                width: 337px

                &::-webkit-input-placeholder
                  color: $red

                &:focus
                  color: $yellow

              .error
                @include border-radius(2px)
                background: $yellow url("../images/icon_alert.png") no-repeat 5px center
                font-size: 14px
                letter-spacing: 0
                margin: 49px 0 0 6px
                padding: 2px 7px 3px 25px
                position: absolute


            input[type="submit"]
              @include border-radius(0 4px 4px 0)              
              @include linear-gradient($red, darken($red, 5%))
              border: 1px solid $red
              color: $brown
              float: left
              font-size: 21px
              font-weight: bold
              height: 36px
              text-shadow: 1px 1px 0 rgba(255,255,255,0.2)              
              width: 70px
              &:hover
                @include linear-gradient(lighten($red, 5%), $red)

          #party  
            @include border-radius(6px)
            @include box-shadow(1px 1px 0 rgba(255,255,255,0.2))
            @include linear-gradient(lighten($brown,10%), $brown)
            color: $red
            font-size: 16px
            font-weight: bold
            height: 34px
            letter-spacing: 0
            line-height: 36px
            padding: 4px
            text-align: center
            b
              color: $yellow
              font-weight: normal
            span
              @include inline-block
              background: url("../images/icon_success.png") no-repeat center center
              height: 18px
              margin: 0 5px -3px 0
              width: 18px


  #flashes
    .message
      border: solid 1px black
      @include border-radius(5px)
      &.error
        color: red
      &.notice
        color: green

