p 
  | El Paseo La Plaza es el principal centro teatral de Buenos Aires. Ofrece una variada oferta teatral, excelentes propuestas gastronómicas y comerciales, estacionamiento propio con capacidad para 500 autos y seguridad privada. Además está ubicado sobre la principal avenida de Buenos Aires, facilitándose así el acceso desde distintos puntos y medios de transporte de la ciudad.